# üöÄ Falcon 9 Launch Data Collection (API)
**Author:** Muhammad Munawar Shahzad

**Date:** 2025-08-13  

---

## üìÑ Project Overview
This notebook is part of the Falcon 9 Data Science Project.  
In this step, we will:
- Collect historical Falcon 9 launch data using SpaceX API
- Save the raw data for later cleaning and analysis

The goal is to maintain reproducibility and follow a professional data pipeline.

## üéØ Objective
The purpose of this notebook is to:
1. Connect to the SpaceX public API
2. Fetch Falcon 9 launch data in JSON format
3. Convert the JSON data into a structured DataFrame
4. Save the raw dataset in the `data/raw` folder

In [1]:
# Step 1: Importing required libraries
import requests  # To make API calls
import pandas as pd  # For data manipulation
import os  # For file path operations

# Ensure raw data folder exists
os.makedirs("../data/raw", exist_ok=True)

# Step 1: Importing required libraries
import requests  # To make API calls
import pandas as pd  # For data manipulation
import os  # For file path operations

# Ensure raw data folder exists
os.makedirs("../data/raw", exist_ok=True)

## üåê API Selection & Justification
We are using the **SpaceX REST API** because:
- It is free and open for public use
- Provides historical Falcon 9 launch data in JSON format
- Regularly updated with new launches

In [2]:
# Step 2: Define API endpoint
api_url = "https://api.spacexdata.com/v4/launches/past"

# Step 3: Make GET request
response = requests.get(api_url)

# Step 4: Check if request was successful
if response.status_code == 200:
    print("‚úÖ API request successful!")
    data = response.json()
else:
    print(f"‚ùå Failed to fetch data. Status code: {response.status_code}")

‚úÖ API request successful!

In [3]:
# Step 5: Convert JSON to DataFrame
df = pd.json_normalize(data)

# Step 6: Preview data
df.head()

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...,NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT,NaN

In [4]:
# Step 7: Save data to raw folder
raw_data_path = "../data/raw/falcon9_launches_raw.csv"
df.to_csv(raw_data_path, index=False)
print(f"üíæ Raw data saved to: {raw_data_path}")

üíæ Raw data saved to: ../data/raw/falcon9_launches_raw.csv

## ‚úÖ Summary
- Connected to SpaceX API
- Retrieved Falcon 9 historical launch data
- Converted JSON to structured DataFrame
- Saved raw CSV file to `data/raw` folder

## üîú Next Steps
- Clean and preprocess the data (remove unnecessary columns, handle missing values)
- Save processed data to `data/processed`
- Begin exploratory data analysis (EDA)

## üìö References
- SpaceX API Documentation: https://github.com/r-spacex/SpaceX-API
- pandas Documentation: https://pandas.pydata.org/docs/